# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.3DGame.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\amuhammad\Documents\3DGame\.idea\.idea.3DGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
